<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="text-title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-1.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-1-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Tube Watch S42 Date Steel With Black<br />
                <span class="span">€395</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-2.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-2-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Avondale Watch Police For Men <br />
                <span class="span">€800</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-3.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-3-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Diver 300M Co‑Axial Master Chronometer<br />
                <span class="span">€600</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-4.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-4-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Diver 300M Co-Axial Master Chronometer <br />
                <span class="span">€1400</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <svg class="heart tuck" width="24" height="24">
                <use href="./img/icons.svg#icon-icon_heart"></use>
              </svg>
              <img
                src="./img/catalog/catalog-5.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-5-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Taman Watch By Police For Men <br />
                <span class="span">€500</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <svg class="heart tuck" width="24" height="24">
                <use href="./img/icons.svg#icon-icon_heart"></use>
              </svg>

              <img
                src="./img/catalog/catalog-6.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-6-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Malawi Watch Police For Men <br />
                <span class="span">€555</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-7.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-7-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Diver 300M Co-Axial Master<br />
                <span class="span">€1200</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="catalog-watch link">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="./img/catalog/catalog-8.jpg"
                alt="photo of the watch"
                srcset="./img/catalog/catalog-8-2x.jpg 2x"
                width="276"
                height="274"
              />

              <p class="catalog-text">
                Greenlane Watch By Police For Men <br />
                <span class="span">€1000</span>
              </p>
            </div>
            <div class="flip-card-back">
              <div class="gap-one">
                <h3 class="catalog-overlay-text">Description</h3>
                <p class="catalog-overlay-item">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
              <div class="gap-two">
                <p class="catalog-overlay-item">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <div class="hide">
        <li class="catalog-watch link hide-watch">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="./img/catalog/catalog-9.jpg"
                  alt="photo of the watch"
                  srcset="./img/catalog/catalog-9-2x.jpg 2x"
                  width="276"
                  height="274"
                />

                <p class="catalog-text">
                  Squardrc 5402 Chrono <br />
                  <span class="span">€359</span>
                </p>
              </div>
              <div class="flip-card-back">
                <div class="gap-one">
                  <h3 class="catalog-overlay-text">Description</h3>
                  <p class="catalog-overlay-item">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </div>
                <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
                <div class="gap-two">
                  <p class="catalog-overlay-item">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="catalog-watch link">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="./img/catalog/catalog-10.jpg"
                  alt="photo of the watch"
                  srcset="./img/catalog/catalog-10-2x.jpg 2x"
                  width="276"
                  height="274"
                />

                <p class="catalog-text">
                  Diver 300M Co‑Axial Master<br />
                  <span class="span">€400</span>
                </p>
              </div>
              <div class="flip-card-back">
                <div class="gap-one">
                  <h3 class="catalog-overlay-text">Description</h3>
                  <p class="catalog-overlay-item">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </div>
                <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
                <div class="gap-two">
                  <p class="catalog-overlay-item">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="catalog-watch link">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="./img/catalog/catalog-11.jpg"
                  alt="photo of the watch"
                  srcset="./img/catalog/catalog-11-2x.jpg 2x"
                  width="276"
                  height="274"
                />

                <p class="catalog-text">
                  Citizen <br />
                  <span class="span">€519</span>
                </p>
              </div>
              <div class="flip-card-back">
                <div class="gap-one">
                  <h3 class="catalog-overlay-text">Description</h3>
                  <p class="catalog-overlay-item">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </div>
                <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
                <div class="gap-two">
                  <p class="catalog-overlay-item">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="catalog-watch link">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="./img/catalog/catalog-12.jpg"
                  alt="photo of the watch"
                  srcset="./img/catalog/catalog-12-2x.jpg 2x"
                  width="276"
                  height="274"
                />

                <p class="catalog-text">
                  Armani Exchange <br />
                  <span class="span">€400</span>
                </p>
              </div>
              <div class="flip-card-back">
                <div class="gap-one">
                  <h3 class="catalog-overlay-text">Description</h3>
                  <p class="catalog-overlay-item">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </div>
                <h3 class="catalog-overlay-text">DETAILS &amp; FEATURES</h3>
                <div class="gap-two">
                  <p class="catalog-overlay-item">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
    <button class="catalog-btn" data-modal-open type="button">BUY NOW</button>
  </div>
</section>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal-close-btn">
      <svg class="mobile-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close_modal-tab-desk"></use>
      </svg>
    </button>
    <div class="img-wrap">
      <div class="item">
        <img
          class="modal-img"
          src="./img/catalog/catalog-1.jpg"
          alt="photo of the watch"
          srcset="./img/catalog/catalog-1-2x.jpg 2x"
          width="276"
          height="274"
        />

        <p class="catalog-text">
          Tube Watch S42 Date Steel With Black<br />
          <span class="span">€395</span>
        </p>
      </div>
      <div class="form">
        <form class="modal-form">
          <div class="modal-field">
            <label for="user-name" class="input-text">Full name</label>
            <div class="input-wrap">
              <input
                type="text"
                name="user-name"
                id="user-name"
                class="modal-input"
                placeholder="Enter your full name"
                required
              />
            </div>
          </div>

          <div class="modal-field">
            <label for="user-email" class="input-text">Email</label>
            <div class="input-wrap">
              <input
                type="email"
                name="user-email"
                id="user-email"
                class="modal-input"
                placeholder="Enter your email"
                required
              />
            </div>
          </div>

          <div class="modal-field">
            <label for="user-card" class="input-text">Card number</label>
            <div class="input-wrap">
              <input
                type="text"
                name="user-card"
                id="user-card"
                class="modal-input"
                placeholder="Enter card"
                required
              />
            </div>
          </div>

          <div class="modal-field">
            <label for="user-text" class="input-text">Comments</label>

            <textarea
              name="user-text"
              id="user-text"
              class="modal-textarea"
              placeholder="Enter your text"
            ></textarea>
          </div>

          <button type="submit" class="modal-form-btn">SUBMINT</button>
          <label for="privacy" class="privacy-text"
            >By clicking on “Submit” button, you agree to our
            <a class="privacy-link" href="">Privacy Policy</a>, and allow
            Promodo to use this information for marketing purposes.
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
