<footer class="section-footer">
  <div class="footer-contaner contaner">
    <div class="logo-address">
      <a class="footer-logo-link link" href="./index.html">
        <svg class="logo-footer-icon" width="50" height="50">
          <use
            href="./img/icons.svg#icon-logo-18"
            class="logo-footer-tab-desk"
          ></use>
        </svg>
      </a>

      <address class="footer-address">
        <ul class="contact-inform-list list">
          <li class="contact-inform-item">
            <a class="contact-inform-tel link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="contact-inform-item">
            <a
              class="contact-inform-map link"
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.7333918,-111.9594046,17.54z/data=!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p"
              target="_blank"
              >1678 S. Pioneer Road<br />
              Salt Lake City<br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <nav class="footer-navigation">
      <ul class="footer-nav-list list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#about" href="./index.html "
            >About Us</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="footer-nav-link link"
            href="#catalog"
            href="./catalog.html"
            target="_blank"
            >Catalog</a
          >
        </li>
        <li class="footer-nav-item">
          <a
            class="footer-nav-link link"
            href="./sale.html"
            target="_blank"
            href="#sale"
            >Sale</a
          >
        </li>
      </ul>
    </nav>

    <div class="footer-social">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.facebook.com/">
            <svg class="footer-social-icon" width="44" height="44">
              <use
                href="./img/icons.svg#icon-facebook_tab-deck"
                class="footer-icon-facebook"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.instagram.com/">
            <svg class="footer-social-icon" width="44" height="44">
              <use
                href="./img/icons.svg#icon-insta_tab-desk"
                class="footer-icon-insta"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.youtube.com/">
            <svg class="footer-social-icon" width="44" height="44">
              <use
                href="./img/icons.svg#icon-youtube_tab-desk"
                class="footer-icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="block-text contaner">
    <p class="copyright">&copy;2022 The Watch Spot. All rights reserved.</p>
    <div class="bl-text">
      <p class="privacy-policy copy-text">Privacy Policy</p>
      <p class="terms-service copy-text">Terms of Service</p>
    </div>
  </div>
</footer>
