<!-- Footer -->
<footer class="section_footer">
  <div class="contaner">
    <div class="logo_address">
      <a class="footer_logo_link link" href="./index.html">
        <svg class="logo_footer_icon">
          <use
            href="./img/symbol-defs.svg#icon-logo_footer-tab-desk"
            class="logo_footer_tab_desk"
            width="50"
            height="50"
          ></use>
        </svg>
      </a>

      <address class="footer_address">
        <ul class="contact_inform_list list">
          <li class="contact_inform_item">
            <a class="contact_inform_link link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="contact-information-list-item">
            <a
              class="contact-information-map-link link"
              href="https://goo.gl/maps/K1ET4u2LAz49KQGh7"
              target="_blank"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <nav class="footer_navigation">
      <ul class="footer_nav_list list">
        <li class="footer_nav_item">
          <a class="footer_nav_link link active current" href="./index.html"
            >About Us</a
          >
        </li>
        <li class="footer_nav_item">
          <a class="footer_nav_link link" href="./catalog.html" target="_blank"
            >Catalog</a
          >
        </li>
        <li class="footer_nav_item">
          <a class="footer_nav_link link" href="./sale.html" target="_blank"
            >Sale</a
          >
        </li>
      </ul>
    </nav>

    <div class="footer_social">
      <ul class="footer_social_list list">
        <li class="footer_social_item">
          <a class="footer_social_link link" href="#">
            <svg class="footer_social_icon">
              <use
                href="./img/symbol-defs.svg#icon-facebook_tab-deck"
                class="footer_icon_facebook"
                width="44"
                height="44"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer_social_item">
          <a class="footer_social_link link" href="#">
            <svg class="footer_social_icon">
              <use
                href="./img/symbol-defs.svg#icon-insta_tab-desk"
                class="footer_icon_insta"
                width="44"
                height="44"
              ></use>
            </svg>
          </a>
        </li>

        <li class="footer_social_item">
          <a class="footer_social_link link" href="#">
            <svg class="footer_social_icon">
              <use
                href="./img/symbol-defs.svg#icon-youtube_tab-desk"
                class="footer_icon_youtube"
                width="44"
                height="44"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p class="">&copy;2022 The Watch Spot. All rights reserved.</p>
      <span class="">
        <p class="privacy_policy">Privacy Policy</p>
        <p class="terms_service">Terms of Service</p>
      </span>
    </div>
  </div>
</footer>
