<header>
  <div class="logo-container container">
    <nav class="header-nav">
      <a href="../index.html" class="link link-logo-header">
        <div class="container-icon">
         
        </div>
        <p class="logo-text">thewatchspot</p>
      </a>
      <button class="btn-burger-menu" type="submit" data-menu-open>
        <svg class="burger-menu" width="24" height="24">
          <use href="../img/icons.svg#icon-icon_menu-burger"></use>
        </svg>
      </button>
      <div class="header-list-container">
        <ul class="header-list list">
          <li><a href="./about-us.html" class="link menu-item">About us</a></li>
          <li><a href="./catalog.html" class="link menu-item">Catalog</a></li>
          <li><a href="./sale.html" class="link menu-item">sale</a></li>
        </ul>
      </div>
      <address class="header-phone">
        <a href="tel:+380684439426" class="phone-number link"
          >+380 (68) 443-94-26</a
        >
      </address>
    </nav>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="logo-close-container">
      <a href="../index.html" class="link link-mob-menu">
       
        <p class="logo-text">thewatchspot</p>
      </a>
      <button type="submit" class="mob-close-btn" data-menu-close>
        <svg class="mob-close-icon">
          <use href="../img/icons.svg#icon-icon_close-mobale-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="list-menu-header">
      <ul class="list">
        <li>
          <a href="#about" class="link burger-menu-item">About us</a>
        </li>
        <li>
          <a href="#catalog" class="link burger-menu-item">Catalog</a>
        </li>
        <li><a href="#sale" class="link burger-menu-item">Sale</a></li>
      </ul>
    </nav>
  </div>
</header>
<script src="../js/menu.js"></script>