<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-container container">
        <nav class="header-nav">
          <a href="../index.html" class="link link-logo-header">
            <svg class="logo-mob-header">
              <use href="../img/icons.svg#icon-logo-header-mobale"></use>
            </svg>
            <p class="logo-text">thewatchspot</p>
          </a>
          <button class="btn-burger-menu" type="submit" data-menu-open>
            <svg class="burger-menu" width="24" height="24">
              <use href="../img/icons.svg#icon-icon_menu-burger"></use>
            </svg>
          </button>
        </nav>
      </div>
      <div class="mob-menu is-hidden" data-menu>
        <div class="logo-close-container">
          <a href="../index.html" class="link link-mob-menu">
            <svg class="logo-mob-header">
              <use href="../img/icons.svg#icon-logo-header-mobale"></use>
            </svg>
            <p class="logo-text">thewatchspot</p>
          </a>
          <button type="submit" class="mob-close-btn" data-menu-close>
            <svg class="mob-close-icon" >
              <use href="../img/icons.svg#icon-icon_close-mobale-menu"></use>
            </svg>
          </button>
        </div>
        <nav class="list-menu-header">
          <ul class="list">
            <li><a href="./about-us.html" class="link burger-menu-item">About us</a></li>
            <li><a href="./catalog.html" class="link burger-menu-item">Catalog</a></li>
            <li><a href="./sale.html" class="link burger-menu-item">Sale</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <script src="../js/menu.js"></script>
  </body>
</html>
