<section class="section hero">
    <div class="container hero-container">
        <div class="page-wrap">
            <div class="hero-wrap">
                <h1 class="hero-title">
                    Welcome to our collection of premium watches
                </h1>
            </div>
            <div class="swiper-page-wrap">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide hero-img">
                            <picture>
                                          <source srcset="
                                                ./img/hero/hero-mob-swiper/hero1-mob.jpg 1x,
                                                ./img/hero/hero-mob-swiper/hero1-mob2x.jpg 2x
                                                " media="(max-width: 767px)" />
                                                <source srcset="
                                                ./img/hero/hero-desc-tab-swiper/hero1-desk-tab.jpg  1x,
                                                ./img/hero/hero-desc-tab-swiper/hero1-desk-tab2x.jpg 2x
                                                " media="(min-width: 768px)" />
                                                <img class="hero-photo"   src="./img/hero/hero-desc-tab-swiper/hero1-desk-tab.jpg" alt="watches" width="226"
                                                  height="190" />
                            </picture>
                        </div>
                        <div class="swiper-slide hero-img">
                            <picture>
                                        <source srcset="
                                                ./img/hero/hero-mob-swiper/hero3-mob.jpg 1x,
                                                ./img/hero/hero-mob-swiper/hero3-mob2x.jpg 2x
                                                        " media="(max-width: 767px)" />
                                        <source srcset="
                                        ./img/hero/hero-desc-tab-swiper/hero3-desk-tab.jpg 1x,
                                        ./img/hero/hero-desc-tab-swiper/hero3-desk-tab2x.jpg 2x
                                                " media="(min-width: 768px)" />
                    <img class="hero-photo" src="./img/hero/hero-desc-tab-swiper/hero3-desk-tab.jpg" alt="watches" width="226"
                                    height="200" />
                            </picture>
                        </div>
                        <div class="swiper-slide hero-img">
                            <picture>
                                <source srcset="
                                        ./img/hero/hero-mob-swiper/hero4-mob.jpg 1x,
                                        ./img/hero/hero-mob-swiper/hero4-mob2x.jpg 2x
                                            " media="(max-width: 767px)" />
                                <source srcset="
                                        ./img/hero/hero-desc-tab-swiper/hero4-desk-tab.jpg 1x,
                                        ./img/hero/hero-desc-tab-swiper/hero4-desk-tab2x.jpg 2x
                                            " media="(min-width: 768px)" />
                                <img class="hero-photo" src="./img/hero/hero-desc-tab-swiper/hero4-desk-tab.jpg" alt="watches" width="226"
                                    height="200"/>
                            </picture>
                        </div>
                        <div class="swiper-slide hero-img">
                            <picture>
                            <source srcset="
                                            ./img/hero/hero-mob-swiper/hero2-mob.jpg 1x,
                                            ./img/hero/hero-mob-swiper/hero2-mob2x.jpg 2x
                                            " media="(max-width: 767px)" />
                            <source srcset="
                                        ./img/hero/hero-desc-tab-swiper/hero2-desk-tab.jpg 1x,
                                        ./img/hero/hero-desc-tab-swiper/hero2-desk-tab2x.jpg 2x
                                        " media="(min-width: 768px)" />
                            <img class="hero-photo" src="./img/hero/hero-desc-tab-swiper/hero2-desk-tab.jpg" alt="watches" width="226"
                                    height="200"/>
                            </picture>
                        </div>
                        <div class="swiper-slide hero-img">
                            <picture>
                                    <source srcset="
                                        ./img/hero/hero-mob-swiper/hero5-mob.jpg 1x,
                                        ./img/hero/hero-mob-swiper/hero5-mob2x.jpg 2x
                                        " media="(max-width: 767px)" />
                                    <source srcset="
                                        ./img/hero/hero-desc-tab-swiper/hero5-desk-tab.jpg 1x,
                                        ./img/hero/hero-desc-tab-swiper/hero5-desk-tab2x.jpg 2x
                                        " media="(min-width: 768px)" />
                                    <img class="hero-photo" src="./img/hero/hero-desc-tab-swiper/hero5-desk-tab.jpg" alt="watches" width="226"
                                    height="200" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-buttons">
                    <div class="button-prev">
                        <button aria-label="previous picture" class="hero-btn" type="button">
                            <svg class="hero-icon" width="18" height="18">
                                <use href="../img/icons.svg#icon-chevron-prev"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="button-next">
                        <button aria-label="next picture" class="hero-btn" type="button">
                            <svg class="hero-icon icon" width="18" height="18">
                                <use class="" href="./img/icons.svg#icon-chevron-prev"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-numbers">
                        <svg width="20" height="32" class="swiper-numbers-line-icon">
                            <use href="./img/icons.svg#icon-numbers-line"></use>
                        </svg>
                    </div>
                </div>
                   
                </div>
            
            <div class="hero-wrap-text">
                <p class="hero-text">
                    Our watches are not just timepieces, but also an expression of your
                    personality and lifestyle. From classic designs to modern ones, we
                    have a watch to suit every taste and occasion.
                </p>
            </div>
            <div class="hero-wrap-img">
                <picture>
                    <source srcset="/img/hero/hand-bg-desc.jpg 1x, /img/hero/hand-bg-desc-2x.jpg 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="/img/hero/hand-bg-tab.jpg 1x, /img/hero/hand-bg-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="/img/hero/hand-bg-mob.jpg 1x, /img/hero/hand-bg-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img class="hero-watches-img" src="/img/hero/hand-bg-tab.jpg" alt="watches" width="345"
                        height="410" />
                </picture>
            </div>
        </div>
        </div>
    </div>
</section>