<section class="sale section">
  <div class="container sale-container">
    <h2 class="sale-title title" data-aos="fade-up">Sale</h2>

    <div>
      <ul class="sale-list list">
        <li class="sale-item">
          <img src="./images/about-img-1.jpeg" alt="haircut" width="270" height="445" />
        </li>
        <li class="sale-item">
          <img src="./images/about-img-2.jpeg" alt="haircut" width="270" height="445" />
        </li>
        <li class="sale-item">
          <img src="./images/about-img-2.jpeg" alt="haircut" width="270" height="445" />
        </li>
        <li class="sale-item">
          <img src="./images/about-img-2.jpeg" alt="haircut" width="270" height="445" />
        </li>
      </ul>
      <div class="sale-item-big">
        <img src="./images/about-img-2.jpeg" alt="haircut" width="270" height="445" />
      </div>
    </div>
    <div class="sale-wrap">
      <h3>Greenlane Watch By Police For MenHT </h3>
      <p class="salet-top-text top-text">Product tag: PEWJK2227003</p>
      <ul>
        <li>
          <h4 class="sale-price">&#8364€700</h4>
        </li>
        <li>
          <h4 class="sale-old-price">&#8364€1000</h4>
        </li>
      </ul>
      <h3>Description</h3>
      <p class="sale-bottom-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features
        a versatile multifunction design that fits effortlessly into work and play. The steel case is adorned with a
        semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching crown
        and pushers.</p>
      <h3>DETAILS & FEATUREStion</h3>
      <p class="sale-text">Gender: man
        Size: 46x54.5mm
        Case Colour: Steel
        Band Material: Metal
        Case Material: Metal
        Features: Multifunction
        Water Resistant: 5 (ATM)
        Band Colour: Steel</p>
    </div>
  </div>
</section>