.section-about {
    align-items: center;
   padding-top: 40px;
 
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(40 / 32);
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 40px;

}

.about-text {
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #141414;
    width:100% ;
    display: block;
    /* margin-left: auto; 
    margin-right: auto; */
    max-width:335px ;
}
.about-text:not(:last-child){
    margin-bottom: 20px;
}


.about-gif{
    position:relative;
    display: block;
    height: 335px;
    width: 365px; 
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 40px;
    padding-bottom:  80px;
}

@media screen and (min-width:375px){
    .container-about{
        display: flex;
        flex-direction: column;
        padding: 0px;
        /* gap: 40px;  */
    }
} 

@media screen and (min-width:768px){
    .container-about{
        width: 704px;
        display: flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items:flex-start;
        padding: 0px;
        /* gap: 40px; */
    }  
    .about-title{
        min-width: 174px;
        margin-right: 40px;
        margin-bottom: 0;
    }
    .section-about{
        display: flex;
        

      
    }

    .about-title{
        font-size: 40px;
        line-height: calc(44 / 40);

    } 
    .about-text{
        /* width: 250px; */
        font-size: 14px;
        line-height: calc(18 / 14);
        margin-left: 0;
        margin-right: 0;
    }
    .about-text:not(:last-child){
        margin-bottom: auto;
    }
    .text-desc{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }


    .about-gif{
        height: 465px;
        width: 704px; 
    }
   
}
@media screen  and (min-width:1280px){
    .container-about{
        width: 1440px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        /* align-items: center; */
        padding: 0px;
        /* gap: 40px; */
    }  

    .section-about {
       width: 1280px;
       
     
    }
/* .text-dest-left{
    width: 439px;
}
.text-dest-right{
    width: 380px;
} */
    .text-desc{
              gap: 40px;
           
    }
    .about-title{
        min-width: 174px;
        margin-right: 110px;
    }
    .about-text{
       max-width:   439px;
       font-weight: 300;
        font-size: 14px;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        /* margin-bottom: 0px; */
        align-items: center;
        font-style: normal;
        color: #141414; 
    }
.text-desc{
    /* display: flex; */
    justify-content: space-between;
}

.about-gif{
    height: 505px;
    width: 892px; 
}
.gif-position{
    display: flex;
    justify-content: end;
    margin-left: auto;
}

}