/* Footer */
.section-footer {
  width: 100%;
  height: auto;
  background: #1e2827;
}
.contaner {
  padding-left: 20px;
  padding-right: 20px;
}
.footer-contaner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 104px;
}

.footer-logo-link {
  display: block;
  margin-bottom: 40px;
}
/* address */

.contact-inform-item .contact-inform-tel {
  margin-bottom: 20px;
}
.contact-inform-tel {
  display: block;
  max-width: 175px;
  height: 24px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #ffffff;
}
.contact-inform-map {
  display: block;
  max-width: 181px;
  height: 72px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* navigation */
.footer-nav-item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer-nav-link {
  display: block;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

/* social */

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-link {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.footer-social-item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}
/* copyright */
.block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  display: inline-block;
  margin-bottom: 32px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
}
.copy-text {
  display: inline-block;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: right;
  letter-spacing: -0.02em;
  color: #c6cdd1;
}
.pppp {
  display: inline-block;
  padding-bottom: 32px;
}
.terms-service {
  margin-left: 18px;
}

/* @media screen and (min-width: 375px) {
  .section-footer {
    padding-top: 40px;
    padding-top: 20px;
  }
} */
/* @media screen and (min-width: 768px) {
  .section-footer {
    padding-top: 80px;
  } */
/* .contact-inform-tel {
    font-size: 18px;
    line-height: 1.33;
  } */
/* .contact-inform-map {
    font-size: 18px;
    line-height: 1.33;
  } */
/* .footer-nav-link {
    font-size: 18px;
    line-height: 1.33;
  } */
/* .footer-social-item {
    margin-right: 16px;
  } */
/* .copyright {
    font-size: 14px;
    line-height: 1.29;
  } */
/* .copy-text {
    font-size: 14px;
    line-height: 1.29;
  } */
/* } */
/* @media screen and (min-width: 1280px) {
  .section-footer {
    padding-top: 104px;
    padding-top: 32px;
  }
} */

/* mobale */

/* tablet */

/* descktop */
