header{
  background-color: black;
  width: 100%;
}

.logo-mob-header{
  fill: white;
  
}
/*? ---Burger menu-- */
.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

