header{
  background-color: #141414;
}

/* .container-header{
  height: 100%;
  width: 100%;
} */
.logo-container {
  min-width: 320px;
  padding-top: 29px;
  padding-bottom: 69px;
  margin-left: auto;
  margin-right: auto;
}

.logo-mob-header {
  fill: white;
  width: 14px;
  height: 14px;
  z-index: 1;
}
.link-logo-header {
  display: flex;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 24px;
  align-items: center;
}
.logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(12 / 12);
  letter-spacing: -0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.logo-text:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('../img/logo-watch.svg');
  background-size: cover;
  margin-right: 4px;
}
.header-list-container{
  display: none;
}
.btn-burger-menu {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
}
.header-phone,
.header-list {
  display: none;
}

/*? ---Burger menu-- */
.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e2827;
  padding: 29px 20px 0 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.logo-close-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-mob-menu {
  display: flex;
}
.mob-close-btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.mob-close-icon {
  width: 24px;
  height: 24px;
  color: #ffffff;
}
.list-menu-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.burger-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 14px;
}
/*? @ Media @*/
@media screen and (min-width: 768px) {
  .logo-container {
    padding: 20px 32px 80px 32px;
  }

  .btn-burger-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .logo-text:before  {
    width: 19px;
    height: 19px;
  }
  .header-list-container{
    display: block;
  }
  .logo-text {
    font-size: 15px;
    line-height: calc(15 / 15);
  }
  .header-phone,
  .header-list {
    display: flex;
  }
  .header-list {
    gap: 40px;
  }
  .menu-item {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .phone-number {
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 36px 18px 35px;
    background: #1e2827;
    border-radius: 8px;
    font-style: normal;
  }
}
@media screen and (min-width: 1280px) {
  .container-header {
      width: 1280px;
      padding-top: 80px;
      padding-bottom: 80px;
      margin: 0 auto;
      background-color: #141414;
      /* height: 100%;
      width: 100%; */
    }
 
  .logo-container {
    padding: 34px 132px 80px 132px;
  }
  .header-nav {
    display: flex;
    justify-content: flex-start;
  }
  .header-list-container {
    margin-left: 80px;
  }
  .header-phone {
    margin-left: auto;
    margin-right: 0;
  }
}
