/* HERO SECTION */

/* MOBILE */

.hero-title {
    width: 335px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: calc(40 / 38);
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.hero {
    background-color: #141414;
    max-width: 375px;
    /* padding-top: 69px; */
    padding-bottom: 40px;  
    /* padding-left: 20px;
    padding-right: 20px; */
}

.big-swiper-text-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.swiper {
    margin-top: 60px;
}

/* .swiper-wrapper {
    width: 266px;
    background-color: #1E2827;
}

.swiper-slide {
    width: 226px;
    height: 190px;
    margin: 5px 20px;
} */

.swiper-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    
}

.button-prev {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255);
    opacity: 0,5;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.button-next {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.button-next:hover,
.button-next:focus,
.button-prev:active,
.button-prev:focus {
    border: 1px solid rgba(255, 255, 255, 0,5);
}

.button-next:active .swiper-button-icon,
.button-next:focus .swiper-button-icon {
    stroke: rgba(255, 255, 255, 0,5);
}


.swiper-button-icon {
    position: absolute;
    left: 6px;
    top: 6px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.buttons-numbers-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 69px;
    margin-top: 20px;
    position: relative;
}

.swiper-numbers {
    margin-left: auto;
    position: absolute;
    left: 110%;
    top: 20%

   
}

.swiper-numbers::before {
    display: block;
    content: "01";
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    left: -90%;
    top: 25%;
}

.swiper-numbers::after {
    content: "05";
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    right: -103%;
    top: 25%;
}

.hero-text {
    display: block;
    /* width: 248px; */
    margin-top: 40px;
    margin-left: 87px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero-bg-wrapper {
    margin-top: 40px;
    max-width: 335px;
    height: 410px;
    background-image: url(../img/hero/hand-bg-mob.jpg);
    background-size: 335px 410px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-bg-wrapper {
        background-image: url(../img/hero/hand-bg-mob-2x.jpg);
    }
}

@media screen and (min-width: 375px){
    .container{
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    
    }
}
@media screen and (max-width: 374px) {
    .container {
        width: 100%;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    
            }

    .hero-title {
     width: 100%;
     
    }


}

/* TABLET*/

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;

    }

    .hero {
        padding-bottom: 62px;
        max-width: 768px;
    }

    .hero-title {
        display: block;
        width: 653px;
        /* margin-right: 51px; */
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: calc(62 / 60);
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

       

        /* .swiper-wrapper {
            width: 436px;
            background-color: #1E2827;
            padding: 11px 44px;
        }
    
        .swiper-slide {
            width: 348px;
            height: 233px;
           
        } */



        .buttons-numbers-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-right: 268px;
            margin-top: 20px;
            position: relative;
        }

        .hero-bg-wrapper {
            margin-top: 40px;
            max-width: 704px;
            height: 410px;
            background-image: url(../img/hero/hand-bg-tab.jpg);
            background-size: 704px 410px;
        }

        .swiper-numbers {
            margin-left: auto;
            position: absolute;
            left: 85%;
            top: 20%
        }

        .swiper-numbers-line-icon {
            width: 40px;
        }

        .swiper-numbers::before {
            display: block;
            content: "01";
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(18 / 14);
            letter-spacing: -0.02em;
            color: #FFFFFF;
            position: absolute;
            left: -50%;
            top: 25%;
        }

        .swiper-numbers::after {
            content: "05";
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(18 / 14);
            letter-spacing: -0.02em;
            color: #FFFFFF;
            position: absolute;
            right: -60%;
            top: 25%;
        }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-bg-wrapper {
                background-image: url(../img/hero/hand-bg-tab-2x.jpg);
            }
        }

}





/* DESKTOP*/



