.hero {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #141414;
}

.hero-container {
   width: 375px;
  
}

.hero-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 335px;
    margin-bottom: 60px;
}

.mySwiper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}

.hero-photo {
    width: 266px;
    height: 200px;

}

.hero-img {
    background-color: var(--color-dark-green);
}

.hero-watches-img {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    color: #FFFFFF;
    margin-left: 80px;
}

.swiper-buttons {
    position: relative;
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.hero-btn {
    padding: 7px;
    background-color: #141414;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    border: 1px solid #FFFFFF;
}

.swiper-numbers-line-icon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
    height: 4px;
}
.swiper-numbers {
    margin-left: auto;
    position: absolute;
    left: 67%;
    top: 25%
}

.swiper-numbers::before {
    display: block;
    content: "01";
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    left: -90%;
    top: 25%;
}

.swiper-numbers::after {
    content: "05";
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    right: -103%;
    top: 25%;
}


/* .hero-icon {
    fill: #FFFFFF;
} */

.icon {
    transform: rotateY(180deg);
}



.hero-text {
    font-weight: 300;
    color: #FFFFFF;
    max-width: 248px;
    margin-left: 67px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media screen and (min-width: 375px) {

    .mySwiper {
        width: 266px;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        padding-top: 80px;
        padding-bottom: 64px;
    }

    .hero-container {
        width: 768px;
    }

    .page-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero-title {
        max-width: 653px;
        font-size: 60px;
        line-height: 1.03;
    }

    .mySwiper {
        width: 436px;
        position: relative;
    }

    .hero-photo {
        width: 436px;
        height: 255px;
        margin-left: 0px;
        /* margin-right: 40px; */
        /* margin-bottom: 11px;
        margin-top: 11px; */
        /* margin: 11px 44px; */
    }

    .swiper-numbers-line-icon {
        width: 40px;
    }
    
    .swiper-numbers {
        margin-left: auto;
        position: absolute;
        left: 86%;
        top: 37%
    }


    .swiper-numbers::before {
        display: block;
        content: "01";
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: absolute;
        left: -50%;
        top: 25%;
    }
    
    .swiper-numbers::after {
        content: "05";
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: absolute;
        right: -56%;
        top: 25%;
    }


    .hero-icon {
        width: 24px;
        height: 24px;
    }

    .hero-text {
        margin-left: 20px;
        margin-bottom: 100px;
    }

    .hero-watches-img {
        width: 704px;
        height: 410px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-pagination {
        margin-left: 360px;
    }

    .swiper-pagination-current {
        margin-right: 50px;
    }

    .hero-wrap {
        order: 1;
    }

    .swiper-page-wrap {
        order: 2;
    }

    .hero-wrap-text {
        order: 3;
    }

    .hero-wrap-img {
        order: 4;
    }
}

@media screen and (min-width: 1280px) {

    /* .hero {
        padding-bottom: 0px;
        padding-top: 0px;
    } */
   
    .hero-container{
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }
    
    .hero-wrap {
        order: 1;
    }

    .swiper-page-wrap {
        /* margin-top: 122px; */
        order: 3;
    }

    .hero-wrap-text {
        order: 2;
    }

    .hero-wrap-img {
        order: 4;
        margin-left: 64px;
    }

    .swiper-numbers-line-icon {
        width: 40px;
    }

    .hero-title {
        max-width: 750px;
        margin-bottom: 0;
    }

    .hero-text {
        width: 282px;
        margin-left: 144px;
        margin-bottom: 16px;
    }

    .swiper-numbers {
        margin-left: auto;
        position: absolute;
        left: 86%;
        top: 37%
    }


    .swiper-numbers::before {
        display: block;
        content: "01";
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: absolute;
        left: -50%;
        top: 25%;
    }
    
    .swiper-numbers::after {
        content: "05";
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(18 / 14);
        letter-spacing: -0.02em;
        color: #FFFFFF;
        position: absolute;
        right: -56%;
        top: 25%;
    }

    .page-wrap {
        align-items: end;
    }

    .hero-watches-img {
        width: 676px;
        height: 394px;
    }

    .swiper-buttons {
        margin-bottom: 0;
    }

}